In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.5)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.4)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
#1.List any five functions of the pandas Library with execution.
"""read_csv() - this function is used to read a CSV file and create a pandas DataFrame object. It takes the file path as input and returns a 
DataFrame object."""
import pandas as pd

# Read the CSV file and create a DataFrame object
data = pd.read_csv('services.csv')

# Display the first five rows of the DataFrame
print(data.head())

   id  location_id  program_id accepted_payments alternate_name  \
0   1            1         NaN               NaN            NaN
1   2            2         NaN               NaN            NaN
2   3            3         NaN               NaN            NaN
3   4            4         NaN               NaN            NaN
4   5            5         NaN               NaN            NaN

                           application_process  \
0                   Walk in or apply by phone.
1           Apply by phone for an appointment.
2  Phone for information (403-4300 Ext. 4322).
3                              Apply by phone.
4                       Phone for information.

                                            audience  \
0  Older adults age 55 or over, ethnic minorities...
1       Residents of San Mateo County age 55 or over
2  Older adults age 55 or over who can benefit fr...
3  Parents, children, families with problems of c...
4  Low-income working families with children tran...

                                         description  \
0  A walk-in center for older adults that provide...
1  Provides training and job placement to eligibl...
2  Offers supportive counseling services to San M...
3  Provides supervised visitation services and a ...
4  Provides fixed 8% short term loans to eligible...

                                         eligibility email  ...  \
0  Age 55 or over for most programs, age 60 or ov...   NaN  ...
1  Age 55 or over, county resident and willing an...   NaN  ...
2        Resident of San Mateo County age 55 or over   NaN  ...
3                                               None   NaN  ...
4  Eligibility: Low-income family with legal cust...   NaN  ...

  interpretation_services                                           keywords  \
0                     NaN  ADULT PROTECTION AND CARE SERVICES, Meal Sites...
1                     NaN  EMPLOYMENT/TRAINING SERVICES, Job Development,...
2                     NaN  Geriatric Counseling, Older Adults, Gay, Lesbi...
3                     NaN  INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...
4                     NaN     COMMUNITY SERVICES, Speakers, Automobile Loans

  languages                               name required_documents  \
0       NaN    Fair Oaks Adult Activity Center                NaN
1       NaN   Second Career Employment Program                NaN
2       NaN             Senior Peer Counseling                NaN
3       NaN           Family Visitation Center                NaN
4       NaN  Economic Self-Sufficiency Program                NaN

      service_areas  status wait_time website taxonomy_ids
0             Colma  active  No wait.     NaN          NaN
1  San Mateo County  active   Varies.     NaN          NaN
2  San Mateo County  active   Varies.     NaN          NaN
3  San Mateo County  active  No wait.     NaN          NaN
4  San Mateo County  active       NaN     NaN          NaN

[5 rows x 22 columns]

In [4]:
"""groupby() - this function is used to group rows in a DataFrame by a specified column or set of columns. It returns a DataFrameGroupBy object that 
can be used to perform various operations on the grouped data."""
import pandas as pd

# Create a DataFrame with some sample data
data = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
                     'Age': [25, 32, 18, 47, 25],
                     'City': ['New York', 'London', 'Paris', 'London', 'New York']})

# Group the data by the 'City' column and calculate the average age for each city
grouped_data = data.groupby('City')['Age'].mean()

# Display the grouped data
print(grouped_data)

City
London      39.5
New York    25.0
Paris       18.0
Name: Age, dtype: float64

In [5]:
"""merge() - this function is used to merge two or more DataFrames based on a common column or index. It takes the DataFrames to merge as input and 
returns a new DataFrame object with the merged data."""
import pandas as pd

# Create two DataFrames with some sample data
data1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
data2 = pd.DataFrame({'ID': [2, 3, 4], 'Age': [25, 18, 32]})

# Merge the two DataFrames based on the 'ID' column
merged_data = pd.merge(data1, data2, on='ID')

# Display the merged DataFrame
print(merged_data)

   ID     Name  Age
0   2      Bob   25
1   3  Charlie   18

In [6]:
#2.Given a pandas dataframe df with columns 'A' ,'B' and 'C' . Write a python function to re-index the dataframe with a new index that starts from
#1 and increments by 2 for each row.
import pandas as pd

def reindex_dataframe(df):
    # Create a new index that starts from 1 and increments by 2 for each row
    new_index = pd.Index(range(1, len(df) * 2, 2))
    
    # Set the new index on the DataFrame
    df = df.set_index(new_index)
    
    # Return the re-indexed DataFrame
    return df

In [7]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# Re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row
df_new = reindex_dataframe(df)

# Display the original and re-indexed DataFrames
print('Original DataFrame:')
print(df)
print('\nRe-indexed DataFrame:')
print(df_new)

Original DataFrame:
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

Re-indexed DataFrame:
   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

In [1]:
#3. You have a pandas dataframe df with a column named 'Values'. Write a python function that iterates over the dataframe and calculates the sum of 
#the first three values in the 'Values' column. The function should print the sum to the console.
#For example, if the 'Values' column of df contains the values[10,20,30,40,50] your function should calculate the sum of the first three values, which
#is 60.
import pandas as pd

def sum_first_three_values(df):
    values_sum = df['Values'].iloc[:3].sum()
    print("The sum of the first three values is:", values_sum)

In [2]:
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_first_three_values(df)

The sum of the first three values is: 60

In [3]:
#4.Given a pandas dataframe df with a column 'Text' , write a python function to create a new column 'Word_Count' that contains the number of words 
#in each row of the 'Text' column.
import pandas as pd

def add_word_count_column(df):
    # Define a function to count the number of words in a string
    def word_count(text):
        return len(text.split())
    
    # Apply the word_count function to each row of the 'Text' column
    df['Word_Count'] = df['Text'].apply(lambda x: word_count(x))
    return df

In [4]:
df = pd.DataFrame({'Text': ['This is the first row', 'This is the second row', 'This is the third row']})
df = add_word_count_column(df)
print(df)

                     Text  Word_Count
0   This is the first row           5
1  This is the second row           5
2   This is the third row           5

In [1]:
#5.How are DataFrame.size() and DataFrame.shape() different?
"""DataFrame.size and DataFrame.shape are both pandas DataFrame methods, but they return different information about the DataFrame.

DataFrame.size returns the total number of elements in the DataFrame, which is equal to the number of rows times the number of columns. It is a single
integer value.

DataFrame.shape returns a tuple that contains the number of rows and columns in the DataFrame, respectively. It provides two separate values that 
describe the dimensions of the DataFrame.

Here's an example to illustrate the difference between DataFrame.size and DataFrame.shape:"""
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.size)     
print(df.shape)

6
(3, 2)

In [2]:
#6.How function of pandas do we use to read an excel file?
"""To read an Excel file using pandas, we can use the read_excel() function.
   Here's an example:
import pandas as pd

# read the Excel file into a pandas DataFrame
df = pd.read_excel('filename.xlsx')

# print the DataFrame
print(df)"""

"To read an Excel file using pandas, we can use the read_excel() function.\n   Here's an example:\nimport pandas as pd\n\n# read the Excel file into a pandas DataFrame\ndf = pd.read_excel('filename.xlsx')\n\n# print the DataFrame\nprint(df)"

In [5]:
#7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a 
#Python function that creates a new column 'Username' in df that contains only the username part of each email address.
#The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 
#'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' 
#column
"""def extract_username(df):
    # extract username from each email address using string splitting
    df['Username'] = df['Email'].str.split('@').str[0]
    return df

new_df = extract_username(df)"""

"def extract_username(df):\n    # extract username from each email address using string splitting\n    df['Username'] = df['Email'].str.split('@').str[0]\n    return df\n\nnew_df = extract_username(df)"

In [6]:
#8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects 
"""all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The 
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

   A   B   C

0  3   5   1

1  8   2   7

2  6   9   4

3  2   3   5

4  9   1   2
Your function should select the following rows:  
   A   B   C

1  8   2   7

4  9   1   2

The function should return a new DataFrame that contains only the selected rows."""

"all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The \nfunction should return a new DataFrame that contains only the selected rows.\n\nFor example, if df contains the following values:\n\n   A   B   C\n\n0  3   5   1\n\n1  8   2   7\n\n2  6   9   4\n\n3  2   3   5\n\n4  9   1   2\nYour function should select the following rows:   A   B   C\n\n1  8   2   7\n\n4  9   1   2\n\nThe function should return a new DataFrame that contains only the selected rows."

In [15]:
import pandas as pd

# create the example DataFrame
df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
                   'B': [5, 2, 9, 3, 1],
                   'C': [1, 7, 4, 5, 2]})

# define the select_rows function
def select_rows(df):
    # use boolean indexing to select rows where A > 5 and B < 10
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]

    return selected_rows

# call the select_rows function with the example DataFrame
selected_df = select_rows(df[1:5:3])

# print the selected DataFrame
print(selected_df)

   A  B  C
1  8  2  7
4  9  1  2

In [ ]:
#9.Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in
#the 'Values' column.

In [17]:
import pandas as pd

# create a sample DataFrame with random values
df = pd.DataFrame({
    'Values': (0,1,2,3,4,5,6,7,8,9,0,12,3,4,543,22,13,45,6,100)
})

# define the function to calculate statistics
def calculate_stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()
    return mean, median, std

# call the function to calculate statistics
mean, median, std = calculate_stats(df)

# print the results
print("Mean:", mean)
print("Median:", median)
print("Standard deviation:", std)

Mean: 39.65
Median: 6.0
Standard deviation: 120.65055019832234

In [4]:
#10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that 
#contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window 
#of size 7 and should include the current day.

In [5]:
def add_moving_average(df):
    # create a new column 'MovingAverage' with the moving average of the 'Sales' column
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

    return df

In [6]:
import pandas as pd

# create a sample DataFrame with 'Sales' and 'Date' columns
df = pd.DataFrame({
    'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
    'Date': pd.date_range('2022-01-01', periods=10, freq='D')
})

# call the 'add_moving_average' function to add a new column 'MovingAverage'
df = add_moving_average(df)

# print the updated DataFrame with 'MovingAverage' column
print(df)

   Sales       Date  MovingAverage
0     10 2022-01-01           10.0
1     20 2022-01-02           15.0
2     30 2022-01-03           20.0
3     40 2022-01-04           25.0
4     50 2022-01-05           30.0
5     60 2022-01-06           35.0
6     70 2022-01-07           40.0
7     80 2022-01-08           50.0
8     90 2022-01-09           60.0
9    100 2022-01-10           70.0

In [7]:
#11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. 
"""The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:

         Date

0  2023-01-01

1  2023-01-02

2  2023-01-03

3  2023-01-04

4  2023-01-05

Your function should create the following DataFrame:


         Date    Weekday

0  2023-01-01    Sunday

1  2023-01-02     Monday

2  2023-01-03    Tuesday

3  2023-01-04    Wednesday

4  2023-01-05    Thursday

The function should return the modified DataFrame."""

"The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.\nFor example, if df contains the following values:\n\n         Date\n\n0  2023-01-01\n\n1  2023-01-02\n\n2  2023-01-03\n\n3  2023-01-04\n\n4  2023-01-05\n\nYour function should create the following DataFrame:\n\n\n         Date    Weekday\n\n0  2023-01-01    Sunday\n\n1  2023-01-02     Monday\n\n2  2023-01-03    Tuesday\n\n3  2023-01-04    Wednesday\n\n4  2023-01-05    Thursday\n\nThe function should return the modified DataFrame."

In [8]:
import pandas as pd
from datetime import datetime

def add_weekday_column(df):
    # Convert the 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Create a new column 'Weekday' containing the weekday name
    df['Weekday'] = df['Date'].apply(lambda x: datetime.strftime(x, '%A'))

    # Return the modified DataFrame
    return df

In [9]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})

# Call the function to add the 'Weekday' column
df = add_weekday_column(df)

# Print the modified DataFrame
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [ ]:
#12.12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is 
#between '2023-01-01' and '2023-01-31'.

In [14]:
import pandas as pd

# create a sample DataFrame
df = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', end='2023-01-31', freq='D'),
    'Value': range(1, 32)
})

# define the function to select rows between two dates
def select_rows_between_dates(df, start_date, end_date):
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)
    mask = df['Date'].between(start_date, end_date)
    return df.loc[mask]

# get user input for start and end dates
start_date = input("Enter start date (yyyy-mm-dd): ")
end_date = input("Enter end date (yyyy-mm-dd): ")

# call the function to select rows between the specified dates
selected_rows = select_rows_between_dates(df, start_date, end_date)

# print the selected rows
print(selected_rows)

Enter start date (yyyy-mm-dd):  2023-01-01
Enter end date (yyyy-mm-dd):  2023-01-31

         Date  Value
0  2023-01-01      1
1  2023-01-02      2
2  2023-01-03      3
3  2023-01-04      4
4  2023-01-05      5
5  2023-01-06      6
6  2023-01-07      7
7  2023-01-08      8
8  2023-01-09      9
9  2023-01-10     10
10 2023-01-11     11
11 2023-01-12     12
12 2023-01-13     13
13 2023-01-14     14
14 2023-01-15     15
15 2023-01-16     16
16 2023-01-17     17
17 2023-01-18     18
18 2023-01-19     19
19 2023-01-20     20
20 2023-01-21     21
21 2023-01-22     22
22 2023-01-23     23
23 2023-01-24     24
24 2023-01-25     25
25 2023-01-26     26
26 2023-01-27     27
27 2023-01-28     28
28 2023-01-29     29
29 2023-01-30     30
30 2023-01-31     31

In [15]:
#13.To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported.
"""To use the basic functions of Pandas, the first and foremost necessary library that needs to be imported is pandas itself. We can import it using
the import statement. This statement imports the Pandas library and assigns it the alias pd. The pd alias is commonly used in the Pandas community and
makes it easier to refer to Pandas functions and objects in your code. Once you've imported the pandas library, you can start using its functions and
objects to work with tabular data."""
import pandas as pd